[submodule "ardupilot"]
	path = third_party/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "ardupilot_gazebo"]
	path = third_party/ardupilot_gazebo
	url = https://github.com/ArduPilot/ardupilot_gazebo.git
